<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet">
    <style type="text/css">
    body { margin: 0; }
    .box { width: 385px; height: 209px; color: white; font-family: 'Roboto'; background-image: url('https://<%= cdnUrl %>/img/sonicsays.png'); background-repeat: no-repeat; }
    .box > h1 { margin: 0; font-weight: 500; width: 220px; height: 125px; position: absolute; top: 50px; left: 10px; font-size: 14pt; letter-spacing: 1px; text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000; word-break: break-all; }
    </style>
</head>
<body>
    <div class="box">
        <h1><%= x %></h1>
    </div>
</body>
</html>